:root{
    --bs-gray: #6c757d; /* text dark mode -color  */
    --bs-gray-dark: #343a40; /* nav bar dark mode color   */
    --dark-body : rgb(58, 55, 55) /*  body background dark mode color */
}
/* Body */
[data-theme="dark"] , [data-theme="dark"] #more{
    background-color: var(--dark-body) !important;
    transition: all 0.1s ease-in;
}
[data-theme="dark"] .navbar {
    background-color: var(--bs-gray-dark) !important;
    transition: all 0.3s ease-in;
}
[data-theme="dark"] a {
    color: var(--bs-gray) !important;
    transition: all 0.5s ease-in;
}



/* Video Card */
[data-theme="dark"] .dark-card-text , [data-theme="dark"] .video span , [data-theme="dark"]  #vid_title ,  [data-theme="dark"]  #views , [data-theme="dark"]  #date ,[data-theme="dark"]  #username ,[data-theme="dark"] .vid_extra  ,[data-theme="dark"] #click_Comment ,[data-theme="dark"] #Description ,[data-theme="dark"]    .v-details ,[data-theme="dark"]   .comment_details {
color: rgba(255, 255, 255, 0.7) !important;
}
[data-theme="dark"] .dark-card {
    background-color: rgba(255, 255, 255, 0.16);
}
[data-theme="dark"] .dark-card:hover{
    background-color: rgba(255, 255, 255, 0.08);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
