.video-wrapper{
   width : 700px;
   /* height : 14rem;  */
}

@media screen and (max-width : 768px) {
    .video-wrapper{
        width : 520px;
     }  
}
@media screen and (max-width : 468px) {
    .video-wrapper{
        width : 325px;
        display: flex ;
        justify-content: center;
        align-items: center;
     }  
}